circle {
  stroke: white;
}

.unfixed {
  stroke-width: 1.5px;
}

.fixed {
  stroke-width: 3px;
}

path {
  fill: none;
  stroke: #666;
  stroke-width: 1.5px;
}

.link {
  stroke: white;
  stroke-width: 1.5px;
}