.WalletRank {
  text-align: left;
  background-color: #282c34;
  display:flex;
  min-height: 100vh;
  color:white; 
  justify-content: center;
}

.load {
  vertical-align: top;
  height: 800px;
}

.loading {
  position: absolute;
  top: 45%;
  left: 50%;
}